{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
    <div id="content">
        <div id="login">
            <form name="f"><label for="username">
                username
            </label>
                <input type="text" name="username" id="username"><label for="password">
                    password
                </label>
                <input type="password" name="password" id="password"><br>
                <input value="1" type="checkbox" name="register">create account<br>
                <input value="Login" type="submit" name="do_login"></form>
        </div>
        <div id="errormsg">
        </div>
        <a href="/reset-password">reset password</a>
        <script>
            $(function () {
                $("form[name=f]").submit(login);
            });
        </script>
    </div>
{% endblock %}

