{% from "macro.html" import comment %}
{% from "macro.html" import print_tags %}
{% extends "base.html" %}
{% block title %}{{ story.title }}{% endblock %}
{% block body %}
<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=143136359226032";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
    <div id="content">

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~ Last news ~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="last-news-fixed">
        <div class="last-news-list">
            <h1></h1>
            <h1 id="rightcaption">НОВЫЕ</h1>
            <ul>
                {% for story in right_news[0:5] %}
                    <article class="right" data-news-id="{{ story.id }}">
                        {% if story.url[0:4] == 'text' %}
                            <li><a href="/news/{{ story.id }}">{{ story.title }}</a>
                                <a title="" class="topic-top" href="#" data-news-id="{{ story.id }}"></a>
                            </li>
                        {% else %}
                            <li>
                                <a href="/news/{{ story.id }}">{{ story.title }}</a>
                                <a title="" class="topic-top" href="#" data-news-id="{{ story.id }}"></a>
                            </li>
                        {% endif %}
                    </article>
                {% endfor %}
            </ul>
        </div>
    </div>

     <!--~~~~~~~~~~~~~~~~~~~~~~~~~ Comments ~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div class="comments">
                <h1></h1>
                <h1>КОММЕНТАРИИ</h1>
                
                <div class="content">
                    <article data-news-id="{{ story.id }}">
                    <h2><a href="{{ story.url }}">{{ story.title }}</a></h2>
                        <div class="news-info-topic"> 
                            <div class="news-info-text"> 
                                <a href="{{ story.url }}">{{story.url}}</a><br><br>
                                {{ story.username }}, <abbr class="timeago" title="{{ story.ctime | datetimeformat }}"></abbr>
                            </div>

                        <div class="news-icons-topic">
                            <a title="" class="topic-rating uparrow {% if story.voted %}voted{% endif %}" href="#"><span class="ic"></span>
                                <span class="upvote-count">{{ story.up }}</span>
                            </a>
                            <a title="" class="topic-like {% if story.saved %}voted{% endif %}"" href="#" data-news-id="{{ story.id }}"></a>
                        </div>
                        {{ print_tags(story['tags']) }}
                        </div>   
                        </article> 
                        <br>
                        <div class="inside">
                        <blockquote>
                            {% if story.has_key('description') %}
                            {{ story.description }}
                            {% endif %}
                        </blockquote>
                        </div>
   
                </div>
                <div class="pluso" data-options="big,round,line,horizontal,nocounter,theme=06" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print" data-background="transparent" data-user="1725918404"></div>    
                </div>
             
     <!--~~~~~~~~~~~~~~~~~~~~~~~~~ Comments list ~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <ul class="commnets-list">
                {%- for item in comments recursive %}
                    <li>{{ comment(item) }}
                    {%- if item.children -%}
                        <ul>{{ loop(item.children) }}</ul>
                    {%- endif %}</li>
                {%- endfor %}
                   
                </ul>
                

     <!--~~~~~~~~~~~~~~~~~~~~~~~~~ Comments list/Add commnet form ~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <form id="insertcommentform" name="f" class="add-comment-form" action="/" method="post">
                <input value="{{ story.id }}" type="hidden" name="news_id">
                <input value="-1" type="hidden" name="comment_id">
                <input value="-1" type="hidden" name="parent_id">
                    Комментировать
                    <textarea name="comment" rows="0" cols="0"></textarea>
                    <input name='post_comment' type="button" title="ОТПРАВИТЬ" value="ОТПРАВИТЬ" />
                </form>


                <div class="fb-like" data-href="https://www.facebook.com/itimes.ru" data-width="450" data-show-faces="true" data-send="true"></div>
<script>
            $(function() {
                $("input[name=post_comment]").click(post_comment);
            });
        </script>
</div>
<!-- VK Widget -->
<br> Читайте нас Вконтакте: <div id="vk_subscribe"></div>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?98"></script>
<script type="text/javascript">
           VK.Widgets.Subscribe("vk_subscribe", {mode: 2}, -56351810);
</script>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?98"></script>

{% endblock %}



