{% from "macro.html" import comment %}
{% extends "base.html" %}
{% block title %}{{ Starring}}{% endblock %}
{% block body %}

<div class="container">
    <div id="content" align="center">

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~ Last news ~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="last-news-fixed" style="float:left; width:300px;">
        <div class="last-news-list">
            <h1></h1>
            <h1 id="rightcaption">ЛЮДИ</h1>
            <ul>
                {% for person in persons %}
                    <article>
                            <li>
                                <a href="/tags/TODO">{{ person[0] }}</a>
                                <a title="" class="topic-top" href="#" >{{ person[1] }}</a>
                            </li>
                    </article>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="last-news-fixed" style="float:left; width:300px;">
        <div class="last-news-list">
            <h1></h1>
            <h1 id="rightcaption">КОМПАНИИ</h1>
            <ul>
                {% for person in companies %}
                    <article>
                            <li>
                                <a href="/tags/TODO">{{ person[0] }}</a>
                                <a title="" class="topic-top" href="#" >{{ person[1] }}</a>
                            </li>
                    </article>
                {% endfor %}
            </ul>
        </div>
    </div>

    </div>

{% endblock %}



