{% extends "base.html" %}
{% block title %}Account{% endblock %}

{% block body %}
    <div class="container">
        <div id="content">
            <div class="userinfo">
                <ul>
                    <li>
                    <b>Аккаунт создан: </b>{{ user.ctime | datetimeformat }}
                    </li>
                    <li>
                        <b>Карма: </b>{{ user.karma }} 
                    </li>
                    <li>
                    <b>Добавлено новостей: </b>{{ posted_news }}
                    </li>
                    <!--
                    <li>
                        <b>posted comments </b>0
                    </li>
                    <li>
                        <a href="/saved/0">saved news</a>
                    </li>
                    <li>
                        <a href="/usercomments/{{ user.username }}/0">user comments</a>
                    </li>
                    <li>
                        <a href="/usernews/{{ user.username }}/0">user news</a>
                    </li>
                    --!>
                </ul>
            </div>

            {#
            <form id="user-data-form" name="f">
                <label for="email">
                    email (not visible, used for gravatar)
                </label>
                <input value="" type="text" size="40" name="email" id="email"><br>
                <label for="password">
                    change password (optional)
                </label>
                <input type="password" size="40" name="password"><br>
                <label for="about">
                    about
                </label>
                <textarea cols="60"  name="about" id="about"></textarea><br>
                <input value="Update profile" type="button" name="update_profile"></form>#}
            <div id="errormsg">
            </div>
            <script>
                $(function () {
                    $("input[name=update_profile]").click(update_profile);
                });
            </script>
        </div>
    </div>
{% endblock %}
